/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#main-description {
  max-width: 55rem;
}

.vp-skip-link {
  z-index: 1;
}
.vp-hero-image {
  max-width: 420px;
}

.vp-hero-title {
  font-size: 72px;
}

.vp-highlight-header,
.vp-feature-header,
.slide-title {
  color: var(--vp-c-accent-bg);
  text-align: center;
}
.vp-feature-title{
  color: var(--vp-c-accent-bg);

}
// FIXME: Should be an upstream bug
.vp-highlight-info-wrapper:only-child {
  flex-basis: 0;
}

.el-popover.el-popper {
  text-align: start !important;
  word-break: break-word !important;
}

.theme-hope-content:not(.custom) > p,
.theme-hope-content:not(.custom) > ul p,
.theme-hope-content:not(.custom) > ol p {
  text-align: start !important;
}

table {
  word-wrap: break-word;
  word-break: keep-all;
  
}

table {
  a::after {
    display: none !important;
  }
}

td a span {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

.fade-slide-y-enter-active {
  transition: none !important;
}

.fade-slide-y-leave-active {
  transition: none !important;
}

.page-pageview-info {
  display: none !important;
}

footer {
  z-index: 999;
}

div[class*='language-'] pre code {
  color: var(--code-c-text);
}

.iotdb-sidebar {
  .iotdb-sidebar-header {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 1.35rem;
    font-weight: 500;
    white-space: nowrap;
  }
  &.vp-sidebar > ul > li:nth-child(1){
      display: none;
  }
  &.vp-sidebar > .vp-sidebar-links {
    padding: 0.25rem 0;
  }
  .switch-list {
    display: flex;
    text-align: center;
    width: 150px;
    margin-right: 12px;
    border-radius: 16px;
    background-color: #f0f1fa;
    list-style-type: none;
    padding: 4px;
    margin: 0 0 0 16px;

    .switch-type {
      padding: 1px 9px;
      flex: 1;
      cursor: pointer;
      border-radius: 16px;
      background-color: transparent;
      font-size: 1.1em;
      line-height: 1.5;
      color: #656a85;
      font-weight: 400;
      white-space: nowrap;
    }

    .switch-active {
      background-color: #495ad4;
      color: #fff;
    }
  }
}

.home {
  .vp-hero-title {
    background: linear-gradient(90deg, rgb(158, 40, 120) 0%, rgb(103, 56, 189) 100%);
    background-clip: text;
    display: inline-block;
  }

  .vp-feature-item {
    &:hover {
      background-color: transparent;
      box-shadow: 0 2px 12px 0 var(--vp-c-shadow);
      transform: translate(-2px, -2px);
      transform: scale(1.05);
    }
  }
  
  .vp-hero-action.default {
    background: var(--vp-c-bg);
    color: var(--vp-c-accent);
    &:hover {
      background: var(--vp-c-bg-alt);
    }
  }
  .theme-hope-content {
    inset: 0;
    z-index: 0;
    position: relative;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    max-width: 100%;
    padding: 0;
    display: inline;
  }
}