name: Check alioss in Changed Files

on:
  pull_request:
    branches:
      - main
  # allow manually run the action:
  workflow_dispatch:

jobs:
  img-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for alioss in changed files
        run: |
          # Fetch the target branch
          git fetch origin $GITHUB_BASE_REF
          
          git switch -c check_branch
          
          # Get the diff of the changes
          DIFF=$(git diff origin/$GITHUB_BASE_REF check_branch)
          
  
          # Check the diff for alioss
          if echo "$DIFF" | grep -Eq 'alioss'; then
            echo "alioss found in the changes. Please use upload to src/.vuepress/public/img."
            echo "$DIFF" | grep -Eq 'alioss'
            exit 1
          else
            echo "No alioss found in changed content."
          fi
